body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  padding-top: 170px;
}
button {
  font-family: 'PT Sans', sans-serif;
}

.main-container {
  margin-right: 6em;
}

a {
  text-decoration: none;
}
/* design container */
.navbar {
  background-color: #88BBD6;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  position: fixed;
  width: 100%;
  top: 0;
}
/* design center part */
.nav-buttons {
  display: flex;
  justify-content: space-around;
}
.center-item {
  margin-top: 1em;
  background-color: #88BBD6;
  border: none;
  font-size: 1em;
  margin-top: 1em;
  cursor: pointer;
}
.search-input {
  position: relative;
}
.search-icon {
  width: 1.5em;
  position: absolute;
  top: 0.6em;
  right: 1.2em;
  z-index: 1;
}
.search-icon-english {
  left:1.2em;
  width: 1.5em;
  position: absolute;
  top: 0.6em;
  z-index: 1;
}
.search {
  width: 50em;
  height: 3em;
  direction: rtl;
  padding-right: 4em;
}
.search.english {
  direction: ltr;
  padding-left: 4em;
}
/* design right part - logo */
.right-nav, .left-nav {
  width: 20em;
}
.left-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.logo-nav {
  width: 6em;
  height: 6em;
}
/* design left part - buttons */
.left-item {
  margin-left: 1em;
  font-size: 1.1em;
  background-color: #446876;
  color: #E9E9E9;
  padding: 0.5em;
  border-radius: 0.2em;
  cursor: pointer;
}
.lang-container {
  display: flex;
  justify-content: space-evenly;
}
.lang {
  font-weight: bold;
  border-bottom: 0.05em solid #E9E9E9;
}
/*underline for the current page*/
.underline {
  padding: 0.2em;
  border-bottom: 0.2em solid #734D71;
}
.login {
  width: 7em;
  height:2em;
}
.right-nav {
  display: flex;
  justify-content: space-evenly;
}
