body {
  font-family: 'PT Sans', sans-serif;
  color: #000000;
  text-align: right;
}

.main-content {
  margin-right: 6em;
}

.text {
  direction: rtl;
}

.result-option {
  border: none;
  margin-right: 6em;
  margin: 0.3em 2em;
  background-color: white;
  font-size: 1em;
  cursor: pointer;
}

.filter-option {
  border: none;
  margin: 0.9em 1.3em;
  background-color: white;
  font-size: 10px;
  cursor: pointer;
}

.sub-result {
  width: 80%;
  padding: 20px;
  border: 1px solid #DDD;
  margin: 10px;
  overflow-y: hidden;
  float: right;
}

.search-visual {
  float: right;
  margin-left: 5%;
}

.search-text {
  margin-left: 10%;
  height: 200px;
}

#back-top-btn {
  background-image: url('../../images/up-arrow2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 20px;
  left: 80px;
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  opacity: 8;
}

#back-top-btn:hover {
  background-color: #555;
}

.underline {
  padding: 0.2em;
  border-bottom: 0.2em solid #734D71;
}

.btn {
  width: 10em;
  display: block;
  margin: 1em auto;
  margin-top: 2em;
  background-color: #446876;
  font-family: 'PT Sans';
  font-size: 1.2em;
  line-height: 1.5em;
  cursor: pointer;
  letter-spacing: 0;
  color: #FFFAF0;
  border: 0.2em solid #FFFAF0;
  border-radius: 0.4em;
  float: right;
  clear: both;
}
