body {
  font-family: 'PT Sans', sans-serif;
  color: #000000;
  text-align: right;
  margin-right: 5em;
}

.result-option {
  border: none;
  margin: 0.3em 2em;
  background-color: white;
  font-size: 1em;
  cursor: pointer;
}

.filter-option {
  border: none;
  margin: 0.3em 2em;
  background-color: white;
  font-size: 1em;
  cursor: pointer;
}
.sub-result {
  width: 80%;
  padding: 20px;
  border: 1px solid #DDD;
  margin: 10px; 
  overflow-y: hidden;
  float: right;
}

.one {
  float: right;
  margin-left: 5%;
}

.two {
  // margin-top: 50px;
  margin-left: 10%;
  height: 200px;
}

#back-top-btn {
  position: fixed;
  bottom: 20px; 
  left: 80px; 
  z-index: 99; /* Make sure it does not overlap */
  border: none; 
  outline: none; 
  background-color: #CDCDCD; 
  cursor: pointer; 
  padding: 10px; 
  border-radius: 10px; 
}

#back-top-btn:hover {
  background-color: #555;
}

.underline {
  padding: 0.2em;
  border-bottom: 0.2em solid #734D71;