body {
  font-family: 'PT Sans', sans-serif;
  color: #000000;
  text-align: right;
  margin-right: 5em;
}

.sub-result {
  width: 80%;
  padding: 20px;
  border: 1px solid #DDD;
  margin: 10px; 
  overflow-y: hidden;
  // box-shadow: 3px 3px 3px #888888;
  float: right;
}

.one {
  float: right;
  margin-left: 5%;
}

.two {
  // margin-top: 50px;
  margin-left: 10%;
  height: 200px;
}

#back-top-btn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  left: 80px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; 
  outline: none; 
  background-color: #CDCDCD; 
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}

#back-top-btn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
